{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Skylon Schools</title>
    <link href="{% static 'images/logo.ico' %}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"-->
    <link rel="stylesheet" href="{% static 'css/forms_dashb.css' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'images/icons/icon-192x192.png' %}">
</head>

<body>
    <nav>
        <a class="nav-logo" href="{% url 'revenue_dashboard' %}">
            <div class="nav-logo-mark">S</div>
            Skylon Schools Management System<span></span>
        </a>        
        {% if user.is_authenticated %}
            <a href="{% url 'student_list' %}" style="color:white;">Welcome, {{ user.username }}!</a>
            <a class="nav-cta" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="nav-cta" href="{% url 'login' %}">Log In</a>
        {% endif %}
    </nav>
    <!--nav>
        <a href="/" class="nav-logo">
            <div class="nav-logo-mark">S</div>
            Skylon Schools Management System
        </a>
        
        <ul class="nav-links">
            </ul>

        <span class="welcome-text">Welcome, {{ user.username }}!</span>
        
        <a href="{% url 'logout' %}" class="nav-cta">Log Out</a>
    </nav-->
    
    {% block content %}

    {% endblock %}

    {% if user.is_authenticated and user.profile.is_global_admin %}
    <div class="container">
        <div class="card" style="background-color: #e3ebcc; margin-top: 40px;">
            <div>
                <h3 class="mb-1 text-dark font-weight-bold">Admin Mini Panel 👉🏾<a href="{% url 'admin_work'%}">Full Panel</a></h3>
                <p class="text-muted small mb-0">Use these buttons for quick admin work</p>
            </div>
            <div class="btn-group" style=" margin-bottom: 5px;">
                <div>
                    <form method="POST" action="{% url 'recalculate_current_fees' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('SYNC ACTION: We are about to synchronize the prices and term fees');">
                            $ Sync New Prices
                        </button>
                    </form>
                </div>
                <div>
                    <form method="POST" action="{% url 'execute_auto_rollover' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('⚠️CRITICAL ACTION: Are you sure you want to shut down the current term and advance the school registry timeline?');">
                            ⚠️ Roll Next Term📅
                        </button>
                    </form>
                </div>
                <a href="{% url 'scholarship_review_dashboard' %}" class="btn btn-secondary" style="background-color: #ce1195;">
                    🆓 Scholarships
                </a>
                <a href="{% url 'export_students_excel_all' %}" class="btn btn-secondary" style="background-color: #1e3a8a;">
                    📦 Export All Students
                </a>
                <a href="{% url 'export_requisitions_excel' %}" class="btn btn-secondary" style="background-color: #6a0dad;">
                    🧾 Export Requisitions
                </a>
                <a href="{% url 'admin:index' %}" class="btn btn-secondary" id="adminPanelBtn" style="background-color: #627105;">
                    ⚙️ Database Panel
                </a>
            </div>
        </div>
    </div>    
    {% endif %}

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/serviceworker.js')
                    .then((reg) => console.log('Skylon Service Worker Registered at Scope:', reg.scope))
                    .catch((err) => console.error('PWA Registration Failed:', err));
            });
        }
    </script>
</body>
</html>